# Dependencies
node_modules/
/myAppFrontend/node_modules/
/myAppBackend/node_modules/

# Built output
/myAppFrontend/dist/
/myAppBackend/dist/


# IDE files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular specific
.angular/
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log
testem.log
typings/
